body{
    background-color: #F2F2F2;
}
.navbar{
    height: 248px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

#menu {
    position: absolute;
    top: 80px;
    right: 50px;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 46px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}

.btn{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    border-radius: 0;
}


.containerGray{
    background-color: #F2F2F2;
}

footer{
    background-color: #083262;
    margin-top: 20px;
}
#Carousel2{
height: 30px;
width: 10px;
}


.clientes{
    height: 500px;
    width: 500px;
    margin-left: 100px;
    padding: 5%;
}

/* Quienes somos html */

.container{
    padding-top: 50px;
}

/* Servicios html */
.servicioCont {
    font-family: 'Raleway', 'sans-serif';
}

dt{
    font-size: 24px;
    letter-spacing: 1px;
}

dd{
    font-size: 17px;
    justify-content: center;
}


